@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
    filter: blur(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.animate-fade {
  animation: fadeUp 0.8s ease forwards;
}

.fade-section {
  opacity: 0;
  transform: translateY(40px);
  filter: blur(6px);
  transition: all 1s ease;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

/* LOADER LOGO SUAVE TIPO RELOJ */
.logo-clock {
  -webkit-mask-image: conic-gradient(
    rgba(0, 0, 0, 1) 0deg,
    rgba(0, 0, 0, 1) 25deg,
    rgba(0, 0, 0, 0.35) 80deg,
    rgba(0, 0, 0, 0) 140deg,
    rgba(0, 0, 0, 0) 360deg
  );
  mask-image: conic-gradient(
    rgba(0, 0, 0, 1) 0deg,
    rgba(0, 0, 0, 1) 25deg,
    rgba(0, 0, 0, 0.35) 80deg,
    rgba(0, 0, 0, 0) 140deg,
    rgba(0, 0, 0, 0) 360deg
  );
  animation: rotateMask 2.6s linear infinite;
}

@keyframes rotateMask {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
