@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(20px);
    filter: blur(6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
  }
}

.animate-fade {
  animation: fadeUp 0.8s ease forwards;
}

.fade-section {
  opacity: 0;
  transform: translateY(40px);
  filter: blur(6px);
  transition: all 1s ease;
}

.fade-section.visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}

/* LOADER LOGO SUAVE TIPO RELOJ */
@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.logo-clock {
  --angle: 0deg;

  -webkit-mask-image: conic-gradient(
    from var(--angle),
    transparent 0deg,
    transparent 40deg,
    black 110deg,
    black 220deg,
    transparent 300deg,
    transparent 360deg
  );

  mask-image: conic-gradient(
    from var(--angle),
    transparent 0deg,
    transparent 40deg,
    black 110deg,
    black 220deg,
    transparent 300deg,
    transparent 360deg
  );

  animation: clockReveal 2.4s linear infinite;
}

@keyframes clockReveal {
  to {
    --angle: 360deg;
  }
}

@keyframes rotateMask {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
